.send {
    background-color: #eeeeef;
    padding: 60px 0;
    .container {
        .clearfix {
            .col {
                &:first-child {
                    padding-left: 0;
                    padding-right: 35px;
                }
                &:last-child {
                    padding-left: 35px;
                    padding-right: 0;

                }
                .send-title {
                    display: flex;
                    margin-bottom: 10px;
                    img {
                        margin-right: 15px;
                    }
                    h2 {
                        font-size: 18px;
                        font-weight: 700;
                        margin: 0;
                        color: #40474e;
                    }
                }
                .border {
                    max-width: 100%;
                }
                p {
                    color: #787b80;
                    margin-bottom: 35px;
                    margin-top: 20px;
                }
                button {
                    color: #ffffff;
                    background-color: #50c3af;
                    border-radius: 20px;
                    padding: 8px 18px;
                    border: 0;
                    outline: none;
                    @include css3-prefix('transition', 0.5s);
                    &:hover {
                        color: #666666;
                    }
                }
            }
        }
    }
}
